option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:elasticbeanstalk:application:environment:
    CONTRACT_ADDRESS: 0x05cef8e8eeFca214F7eD28564C980E6d45A2Bf1d
    ETHEREUM_RPC_URL: https://eth-mainnet.alchemyapi.io/v2/9l_yRrpBPGaJnSfJjAq8XIF0nNF0BHyK
    SOURCE_BASE_URI: https://d1ymmx285390kt.cloudfront.net/metadata/
